@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.border1 {
  border: 1px solid red;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
}

input {
  border: 1px solid #00000080;
}
* {
  /* outline: 1px solid red; */
}
.brand-open {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.brand-open.open {
  transform: translateY(0);
}
img{
  aspect-ratio: 3/4;
}